{% extends '::base.html.twig' %}

{% block body %}


    {% block corp %}inclure le formulaire de connexion et ici nous allons l'etendre dans la sous view{% endblock %}
    <footer>
        Copyright Gestion de base de donnée de Sarah
    </footer>
{% endblock %}

{#

            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li  class="active" ><a href="#"> Home </a></li>
                        <li  ><a href="#"> Déconnexion</a></li>
                    </ul>
                </div>
            </nav>
#}